@inherits LayoutComponentBase

<div class="container">
    <header>
        <h1>Teacher Scheduling</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/teachers">Teachers</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/schedule">Schedule</NavLink>
                </li>
            </ul>
        </nav>
    </header>

    <hr />
    @Body
</div>
